/.vscode
/100 Lab8.zip
/5-17Program3
/CHANGE NAMES
/Chapter 2 Lab 2 Submission - Natalie Chang.zip
/Chapter 2 Program 1 Submission - Natalie Chang.zip
/Chapter1Lab1
/Chapter1Lab1Submission
/Chapter1Lab1TEST
/Chapter4Program2New
/CS010C
/desktop.ini
/FirstQuestionTest
/hasoperator
/Lab1Test-D,C,C
/new 6.txt
/SecondQuestionTest
/SUBMISSIONS
/Test
/Tester
/TestingProgram3
/testprog4 copy
/testprog4 copy 2
/testprog4 copy 3
/testprog4 copy 5
/Thing
/THISISGOOD copy